html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

.nav {
  font-size: 1.2em;
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

a {
  text-decoration: #222;
  color: #8f2440;
}

a:hover {
  text-decoration: #222;
  background-color: #c9b5ab;
  border-color: #8f2440;
}

figcaption {
  font-style: italic;
}

body {
  background-color: #c9b5ab;
}

h1, h2 {
  font-size: 1.5em;
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

p {
  font-weight: normal;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

dt {
  font-weight: bold;
}

.germination {
  font-weight: bold;
}

.greek {
  list-style-type: lower-greek;
}

.serving {
  font-style: italic;
}

blockquote {
  font-style: italic;
  font-size: 1.5em;
}
