html {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.nav {
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
}

a {
  text-decoration: #222;
  color: #8f2440;
}

a:hover {
  text-decoration: #222;
  background-color: #c9b5ab;
  border-color: #8f2440;
}

body {
  background-color: #c9b5ab;
}

h1 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

.serif {
  font-family: "PT Serif", serif;
}

p {
  font-family: "PT Serif", serif;
  font-weight: normal;
  line-height: 1.5;
}



.greek {
  list-style-type: lower-greek;
}

blockquote {
  font-family: "PT Sans", serif;
}
